<h1>Registra Entrada de Lote</h1>

<%= form_with url: product_items_entry_path do |form| %>
  <div>
    <%= form.label :quantity, 'Quantidade' %>
    <%= form.number_field :quantity %>
  </div>
  <div>
    <%= form.label :warehouse_id, 'Galpão de Destino' %>
    <%= form.select :warehouse_id, options_from_collection_for_select(@warehouses, :id, :code) %>
  </div>
  <div>
    <%= form.label :product_model_id, 'Produto' %>
    <%= form.collection_select :product_model_id, @product_models, :id, :name %>
  </div>
  <div>
    <%= form.submit 'Confirmar' %>
  </div>
<% end%>
