<h1 class="title"><%= @product_model.name %></h1>
<dd>
  <dt>Peso:</dt>
  <dd><%= @product_model.weight %> gramas</dd>
  
  <dt>Dimensões:</dt>
  <dd><%= @product_model.dimensions %></dd>

  <dt>SKU:</dt>
  <dd><%= @product_model.sku %></dd>

  <dt>Categoria:</dt>
  <dd><%= @product_model.product_category.name %></dd>
  
  <dt>Fornecedor:</dt>
  <dd><%= @product_model.supplier.fantasy_name %></dd>
  
</dd>

<h2>Galpões com disponibilidade</h2>


<% @warehouses = @product_model.warehouses.group(:warehouse_id) %>
<% @warehouses.each do |warehouse| %>
  <div>
    Galpão: <%= link_to warehouse.name, warehouse %>
    Quantidade: <%= @product_model.warehouses.where(id: warehouse.id).count %>
  </div>
<% end %>