<h1 class="title">Novo kit de produtos</h1>

<%= form_with model: @product_bundle do |form| %>
  <div>
    <br>
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input is-small", style: 'width:200px'%>
  </div>
  <div>
    <br>
    <%= form.label :sku, class: "label" %>
    <%= form.text_field :sku, class: "input is-small", style: 'width:200px'%>
  </div>
  <div>
    <br>
    <p class="label" >Escolha os produtos:</p>
    <%= form.collection_check_boxes :product_model_ids, @product_models, :id, :name, {}, class: "checkbox" %>
  </div>
  <br>
  <div>
    <%= form.submit 'Gravar', class: "button is-primary" %>
  </div>
<% end %>