<h1 class="title">Galpões Cadastrados</h1>

<% unless @warehouses.empty?%>

  <%= form_with url: '/s/', method: :get do |form| %>
    <%= form.text_field 'search' %>
    <%= form.submit 'Buscar' %>
  <% end %>

  <table class="table mx-auto">
    <thead>
      <tr>
        <th>Galpão</th>
        <th>Código</th>
      </tr>
    </thead>
    <tbody>
      <% @warehouses.each do |warehouse| %>
        <tr>
          <td><%= link_to warehouse.name, warehouse %></td>
          <td>[<%= warehouse.code %>]</td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>(não há galpões cadastrados)</p>
<% end %>