<h1 class="title">Galp천es Cadastrados</h1>

<% unless @warehouses.empty? %>

  <%= form_with url: search_warehouses_path, method: :get do |form| %>
    <%= form.text_field :q, class: "input is-small", style: 'width:200px' %>
    <%= submit_tag 'Buscar', class: 'button is-primary is-small' %>
  <% end %>
  <br>
  <table class="table mx-auto">
    <thead>
      <tr>
        <th>Galp찾o</th>
        <th>C처digo</th>
      </tr>
    </thead>
    <tbody>
      <% @warehouses.each do |warehouse| %>
        <tr>
          <td><%= link_to warehouse.name, warehouse %></td>
          <td>[<%= warehouse.code %>]</td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>(nenhum galp찾o encontrado)</p>
<% end %>