<h1 class="title">Cadastrar categoria de produto</h1>

<% if @product_category.errors.any? %>
  <span>Verifique os erros abaixo:</span>
  <ul>
    <% @product_category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end%>
  </ul>
<% end %>

<%= form_with model: @product_category do |form| %>
  <div>
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: "input is-small", style: 'width:200px' %>
  </div>
  <br>
  <div>
    <%= form.submit 'Gravar', class: "button is-primary" %>
  </div>
<% end %>