<h1 class="title">Cadastrar novo fornecedor</h1>

<% if @supplier.errors.any? %>
  <span>Verifique os erros abaixo:</span>
  <ul>
    <% @supplier.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end%>
  </ul>
<% end %>

<%= form_with model: @supplier do |form| %>
  <div>
    <%= form.label :fantasy_name, class: "label" %>
    <%= form.text_field :fantasy_name, class: "input is-small", style: 'width:200px' %>
  </div>
  <br>
  <div>
    <%= form.label :legal_name, class: "label" %>
    <%= form.text_field :legal_name, class: "input is-small", style: 'width:200px' %>
  </div>
  <br>
  <div>
    <%= form.label :cnpj, class: "label" %>
    <%= form.text_field :cnpj, class: "input is-small", style: 'width:200px' %>
  </div>
  <br>
  <div>
    <%= form.label :email, class: "label" %>
    <%= form.text_field :email, class: "input is-small", style: 'width:200px' %>
  </div>
  <br>
  <div>
    <%= form.label :address, class: "label" %>
    <%= form.text_field :address, class: "input is-small", style: 'width:200px' %>
  </div>
  <br>
  <div>
    <%= form.label :phone, class: "label" %>
    <%= form.text_field :phone, class: "input is-small", style: 'width:200px' %>
  </div>
  <br>
  <div>
    <%= form.submit 'Gravar', class: "button is-primary"  %>
  </div>
<% end %>