<h1 class="title">Editar Galpão</h1>

<% if @warehouse.errors.any? %>
  <span>Verifique os erros abaixo:</span>
  <ul>
    <% @warehouse.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end%>
  </ul>
<% end %>


<%= form_with model: @warehouse do |form| %>
  <div>
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: 'input', style: 'width:200px' %>
  </div>
  <div>
    <%= form.label :code, class: "label" %>
    <%= form.text_field :code, class: 'input', style: 'width:200px' %>
  </div>
  <div>
    <%= form.label :description, class: "label" %>
    <%= form.text_area :description, class: 'input', style: 'width:400px; height:100px' %>
  </div>
  <div>
    <%= form.label :address, class: "label" %>
    <%= form.text_field :address, class: 'input', style: 'width:200px' %>
  </div>
  <div>
    <%= form.label :city, class: "label" %>
    <%= form.text_field :city, class: 'input', style: 'width:200px' %>
  </div>
  <div>
    <%= form.label :state, class: "label" %>
    <%= form.text_field :state, class: 'input', style: 'width:200px' %>
  </div>
  <div>
    <%= form.label :postal_code, class: "label" %>
    <%= form.text_field :postal_code, class: 'input', style: 'width:200px' %>
  </div>
  <div>
    <%= form.label :total_area, class: "label" %>
    <%= form.text_field :total_area, class: 'input', style: 'width:200px' %>
  </div>
  <div>
    <%= form.label :useful_area, class: "label" %>
    <%= form.text_field :useful_area, class: 'input', style: 'width:200px' %>
  </div>
  <br>
  <div>
    <%= form.submit 'Gravar', class: 'button is-primary' %>
  </div>

<% end %>