<h2 class="title"><%= @warehouse.name %> [<%= @warehouse.code %>]</h2>

<dl>
  <dt class="title is-4">Descrição:</dt>
  <dd><%= @warehouse.description %></dd>
  <br>
  <dt class="label">Endereço:</dt>
  <dd><%= @warehouse.address %> - <%= @warehouse.city %>/<%= @warehouse.state %></dd>
  <br>
  <dt class="label">CEP:</dt>
  <dd><%= @warehouse.postal_code %></dd>
  <br>
  <dt class="label">Área Total:</dt>
  <dd><%= @warehouse.total_area %> m²</dd>
  <br>
  <dt class="label">Área Útil:</dt>
  <dd><%= @warehouse.useful_area %> m²</dd>
</dl>
<br>
<% if user_signed_in? %>
  <p><%= link_to 'Editar', edit_warehouse_path(@warehouse), class: 'button is-warning' %></p>
<% end %>

<br>

<h2 class="title is-4">Estoque:</h2>


<% @items = @warehouse.product_items.group(:product_model).count %>


<table class="table mx-auto">
  <thead>
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each_pair do |product_model, quantity| %>
      <tr id="product-<%= product_model.id %>">
        <td><%= link_to product_model.name, product_model %></td>
        <td><%= quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<h2 class="title is-4">Entrada de Itens:</h2>
<%= form_with url: product_items_entry_path do |form|  %>
  <%= form.hidden_field :warehouse_id, value: @warehouse.id %>
  <div>
    <%= form.label :quantity, 'Quantidade', class: 'label' %>
    <%= form.number_field :quantity, class: "input is-small", style: 'width:200px'  %>
  </div>
  <div>
    <%= form.label :product_model_id, 'Produto', class: 'label' %>
    <%= form.collection_select :product_model_id, ProductModel.all, :id, :name, {}, class: "select" %>
  </div>
  <br>
  <div>
    <%= form.submit 'Confirmar', class: "button is-primary" %>
  </div>
<% end %>
<br>
<p><%= link_to 'Voltar', root_path%></p>
