<h2><%= @warehouse.name %> [<%= @warehouse.code %>]</h2>

<dl>
  <dt>Descrição:</dt>
  <dd><%= @warehouse.description %></dd>
  
  <dt>Endereço:</dt>
  <dd><%= @warehouse.address %> - <%= @warehouse.city %>/<%= @warehouse.state %></dd>

  <dt>CEP:</dt>
  <dd><%= @warehouse.postal_code %></dd>

  <dt>Área Total:</dt>
  <dd><%= @warehouse.total_area %> m²</dd>

  <dt>Área Útil:</dt>
  <dd><%= @warehouse.useful_area %> m²</dd>
</dl>
<% if user_signed_in? %>
  <p><%= link_to 'Editar', edit_warehouse_path(@warehouse)%></p>
<% end %>

<h2>Estoque</h2>


<% @items = @warehouse.product_items.group(:product_model).count %>

<% @items.each_pair do |product_model, quantity| %>
  <div id="product-<%= product_model.id %>">
    <%= link_to product_model.name, product_model %> |
    Quantidade: <%= quantity %>
  </div>
<% end %>


<h2>Entrada de Itens</h2>
<%= form_with url: product_items_entry_path do |form|  %>
  <%= form.hidden_field :warehouse_id, value: @warehouse.id %>
  <div>
    <%= form.label :quantity, 'Quantidade' %>
    <%= form.number_field :quantity %>
  </div>
  <div>
    <%= form.label :product_model_id, 'Produto' %>
    <%= form.collection_select :product_model_id, ProductModel.all, :id, :name %>
  </div>
  <div>
    <%= form.submit 'Confirmar' %>
  </div>
<% end %>



<p><%= link_to 'Voltar', root_path%></p>
