

<nav class="navbar" role="navigation" aria-label="main navigation" data-no-turbolink>
  <div class="navbar-brand">
    <span class="navbar-item" href="/">
      <img src="/logo.png" height="28" id="logo">
    </span>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" data-no-turbolink>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <% if user_signed_in? %>
        <%= link_to 'Entrada de items', product_items_entry_path, class: "navbar-item" %>
      <% end %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Fornecedores
        </a>
        <div class="navbar-dropdown">
          <%= link_to 'Ver Fornecedores', suppliers_path, class: "navbar-item" %>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Modelo de produto
          </a>
          <div class="navbar-dropdown">
            <%= link_to 'Cadastrar modelo de produto', new_product_model_path, class: "navbar-item" %>
            <%= link_to 'Ver modelos de produtos', product_models_path, class: "navbar-item" %>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Categoria de produto
          </a>
          <div class="navbar-dropdown">
            <%= link_to 'Cadastrar categoria de produto', new_product_category_path, class: "navbar-item" %>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Galpão
          </a>
          <div class="navbar-dropdown">
            <%= link_to 'Cadastrar novo galpão', new_warehouse_path, class: "navbar-item" %>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Fornecedor
          </a>
          <div class="navbar-dropdown">
            <%= link_to 'Cadastrar novo fornecedor', new_supplier_path, class: "navbar-item" %>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Kit
          </a>
          <div class="navbar-dropdown">
            <%= link_to 'Criar novo kit de produtos', new_product_bundle_path, class: "navbar-item" %>
          </div>
        </div>
      <% end %>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
          <% if user_signed_in? %>
            <%= "Olá, #{current_user.email}" %>&nbsp;|&nbsp;<%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "button is-danger is-light" %>
          <% else %>
            <%= link_to 'Logar', new_user_session_path, class: "button is-primary" %>
          <% end %>
      </div>
    </div>
  </div>
</nav>