<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'navbar-burger' %>
    <%= javascript_pack_tag 'flash-message' %>
    <%= javascript_pack_tag 'credits' %>

  </head>

  <body>
    <div class="container has-text-centered">
      <header>
        <%= render partial: 'layouts/nav' %>
        <%= render partial: 'layouts/flash' %>
      </header>
      <br><br>
      <main class="container" >
        <%= yield %>
      </main>
      <br><br>
      <%= render partial: 'layouts/footer' %>
    </div>
  </body>
</html>
